      * {
         padding: 0;
         margin: 0;
      }
      
      body {
         font-family: sans-serif monospace;
         background-color: black;
      }
      
      .container {
         padding: 20px;
      }
      
      .container .todo-title {
         color: lightgray;
         opacity: 0.8;
         padding-bottom: 25px;
      }
      
      .container .todolist {
         display: flex;
         flex-direction: column;
         gap: 20px;
      }
      
      .container .list-item {
         background: lightgray;
         color: black;
         list-style-type: none;
         padding: 38px;
         border-radius: 15px;
         display: flex;
         gap: 3px;
         position: relative;
      }
      
      .container .list-item .isDone {
         position: absolute;
         left: 15px;
         top: 30px;
      }
      
      .container .list-item .todo {
         color: black;
         position: absolute;
         left: 47px;
         top: 20px;
      }
      
      .container .list-item .todo-time {
         position: absolute;
         top: 43px;
         left: 47px;
         font-size: 12px;
         font-weight: 300;
      }
      
      .container .create-button {
         font-size: 20px;
         padding: 18px 25px 18px 25px;
         border-radius: 50%;
         border: none;
         background-color: lightsalmon;
         margin-top: 220px;
         margin-left: 250px;
      }
      
      .container .create-button {
         font-size: 20px;
         color: whitesmoke;
      }
      
      @media(min-width: 768px) {
         .container {
            height: 50vh;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
         }
         
      }
      